#deck
{
    width: 100%;
    height: 30vh;
    overflow: auto;
    white-space: nowrap;
}

#storage
{
    width: 100%;
    height: 30vh;
    overflow: auto;
    white-space: nowrap;
    margin-top: 5vh;
}

div.card
{
    margin: 2%;
    width: 10%;
    position: relative;
    display: inline-block;
}

div.card:hover
{
    background-color: dimgrey;
}

.empty_card
{
    width: 100%;
    height: auto;
    display: block;
}

.rank
{
    width: 35%;
    font-size: 2vw; /*font size should be changed if card size is changed*/
    letter-spacing: -0.15em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10%;
}

.suit
{
    width: 20%;
    height: auto;
    display: block;
    position: absolute;
    top: 25%;
    left: 9%;
}

.card_effect
{
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 60%;
    transform: translateX(-50%);
}

.effect_icon
{
    width: 2vw;
    height: auto;
    padding-left: 1vw;
}

.effect_amount
{
    font-size: 1.5vw;
    padding-left: 1.5vw;
}