*
{
    box-sizing: border-box;
}

body
{
    background-color: wheat;
    color: black;
    padding: 1vw;
    height: 50vw;
}

.header
{
    padding: 3em;
    text-align: center;
    border-style: double;
}

.header h1
{
    font-size: 3em;
}

.leftcolumn
{
    float: left;
    width: 70%;
}

.rightcolumn
{
    float: left;
    width: 30%;
    padding-left: 2vw;
}

.rightcolumn a
{
    display: block;
    color: white;
    text-align: center;
    font-size: 2vw;
    padding: 0.5vw 0.6vw;
    text-decoration: none;
    background-color: dimgrey;
}

.rightcolumn .links
{
    position: relative;
    float: top;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.rightcolumn a:hover
{
    background-color: white;
    color: black;
}

.post
{
    /*background-color: white;*/
    padding: 1.5em;
    margin-top: 1.5em;
    line-height: 1.5em;
    border-style: double;
    width: 100%;
}

.post h2
{
    margin-bottom: 1em;
}

.rightcolumn .post
{
    height: 20vw;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}