.empty_card {
    width: 100%;
    height: auto;
}

.rank {
    position: absolute;
    top: 3%;
    left: 18%;
}

.suit {
    position: absolute;
    width: 16%;
    height: auto;
    top: 18%;
    left: 18%;
}

.card_effect
{
    display: block;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 30%;
}

.effect_icon {
    width: 16%;
    height: auto;
}

.effect_amount
{
    padding-left: 5%;
    position: absolute;
}

.price {
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
}

.gold_icon {
    width: 16%;
    height: auto;
}

.price_num {
    display: inline-block;
    padding: 5%;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    text-align: center;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 10px;
}

.overlay button {
    position: absolute;
    left: 25%;
}

.overlay .btn-warning {
    top: 75%;
}

.overlay .seller, .confirm {
    position: relative;
    color: white;
    top: 10%;
}

.overlay .btn-success {
    top: 50%;
}

.overlay .btn-danger {
    top: 75%;
}



#pagination {
    text-align: center;
}

#page_numbers {
    display: inline-block;
}

#page_numbers a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

#page_numbers a.active_page {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

#page_numbers a:hover:not(.active_page) {background-color: #ddd;}