@font-face
{
    font-family:"Amstrad CPC464 Regular";
    src:url("../fonts/amstrad_cpc464.eot?") format("eot"),
    url("../fonts/amstrad_cpc464.woff") format("woff"),
    url("../fonts/amstrad_cpc464.ttf") format("truetype"),
    url("../fonts/amstrad_cpc464.svg#Amstrad-CPC464") format("svg");
    font-weight:normal;
    font-style:normal;
}

*
{
    font-family: "Amstrad CPC464 Regular";
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}