<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Timoc</display-name>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/timoc</param-value>
  </context-param>
  
  <servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>servlets.HomeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>listeners.ApplicationListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>