<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span th:utext="${welcome}"></span>
                </div>
                <p>
                    The UIs are functional, but not user-friendly and look bad.
                    <br>
                    I'll focus on UI/UX design next month :)
                </p>
            </div>
        </div>
        <br>
        <form th:action="@{/room}" method="get">
            <button class="btn btn-md btn-primary btn-block"
                    type="Submit">Play!</button>
        </form>
        <br>
        <form th:action="@{/collection}" method="get">
            <button class="btn btn-md btn-info btn-block"
                    type="Submit">View your collection</button>
        </form>
        <br>
        <form th:action="@{/deck}" method="get">
            <button class="btn btn-md btn-success btn-block"
                    type="Submit">Manage your deck</button>
        </form>
        <br>
        <form th:action="@{/market}" method="get">
            <button class="btn btn-md btn-warning btn-block"
                    type="Submit">Go to card market</button>
        </form>
        <br>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block"
                    type="Submit">Logout</button>
        </form>
    </div>
</div>
</body>
</html>