<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/site.css">
<link rel="stylesheet" href="css/home.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timoc</title>
</head>

<body>

<div class="header">
    <h1>Welcome to Timoc</h1>
    <h5>(work in progress)</h5>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="post">
            <h2>About Timoc</h2>
            <p>
                Timoc is a card game that is playable on the browser.
                It is designed to be played by
                1-4 players in the same room, using their phones as controllers
                and a TV as a shared display.
                Players defeat incoming monsters by playing cards from their decks
                and are rewarded with randomly generated cards to their collections.
                Play decks are customizable and
                cards can be traded in a market place.
            </p>
            <p>
                This website is built by Zhixuan(Nic).
                It will be submitted as the personal final project for the
                <a href="http://www.comit.org/" style="color: red;">ComIT</a> course(Class of June 2018).
                The purpose of developing this project is to learn web
                technologies such as java, spring, html, css, javascript, etc.
            </p>
        </div>
        <div class="post">
            <h2>How to..(unfinished)</h2>
            <p>
                This part is unfinis
            </p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="post">
            <div class="links">
                <a href="/login">Login</a>
                <br>
                <a href="/registration">Register</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>