<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timoc</title>
    <!--<link rel="stylesheet" href="css/site.css">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    * {
        font-family: 'Open Sans',sans-serif;
        font-size: medium;
    }

    .control {
        text-align: center;
    }

    .control a {
        display: block;
        margin: 5vh auto;
    }

    @media screen and (max-width: 1000px) {
        img {
            width: 100%;
            height: auto;
        }
    }
</style>
<script>
    window.onload = function() {
        if (screen.width <= 768) {
            var content = document.getElementById('rightPanel');
            var parent = content.parentNode;
            parent.insertBefore(content, parent.firstChild);
        }
    }
</script>
<body>

<div class="jumbotron text-center" style="font-family: 'Amstrad CPC464 Regular'">
    <h1>Welcome to Timoc</h1>
    <p>- A Webbased Multiplayer Card Game -</p>
</div>

<div class="container">
    <div class="row content">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body post">
                    <h2>About Timoc</h2>
                    <br>
                    <p>
                        Timoc is a card game that is playable on the browser.
                        It is designed to be played by
                        1-4 players in the same room, using their phones as controllers
                        and a TV as a shared display.
                        Players defeat incoming enemies by playing cards from their decks
                        and are rewarded with randomly generated cards to their collections.
                        Play decks are customizable and
                        cards can be traded in a market place.
                    </p>
                    <p>
                    <br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/k7XhGppqiFc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <br>
                    <br>
                    </p>
                    <p>
                        This website is built by Zhixuan(Nic).
                        It is the final project for the
                        <a href="http://www.comit.org/">ComIT</a> course(June-August 2018).
                        The purpose of developing this project is to learn web
                        technologies such as java, spring, html, css, javascript, etc.
                    </p>
                    <p>
                        Assets used:<br>
                        <a href="https://0x72.itch.io/16x16-dungeon-tileset">16x16 Dungeon Tileset</a> by Robert<br>
                        <a href="https://fonts2u.com/amstrad-cpc464-regular.font">Amstrad CPC464 font</a> by Wesley Clarke<br>
                        Everything else are created by Nic<br>
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body post">
                    <h2>How To Set up a Game</h2>
                    <br>
                    <img src="images/exampleImage.png" class="img-rounded" style="display: block;margin: auto; margin-bottom: 5vh">
                    <p>
                        This game is designed to use smart phones as controllers.  Another
                        device is needed to set up as a shared display among players.
                        Here are the steps:<br>
                        1. login using a phone<br>
                        2. create/join a game<br>
                        3. on game start, use a PC to go to <a href="https://timoc.net/display/">timoc.net/display</a>,
                        enter the room code, then everything will be connected and ready to go.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body post">
                    <h2>September Roadmap</h2>
                    <br>
                    <p>
                        There is no main goal for September, but a few things to be done:<br>
                        - learn and use ReactJS to improve user interface<br>
                        - add tooptips, popovers on the pages to add explanations<br>
                        - add a page to explain game rules<br>
                        - some in-game sound effects<br>
                        - bug fix, bug fix, bug fix<br>
                        <br>
                        The goal in October would be getting ready for public testing.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4" id="rightPanel">
            <div class="panel panel-default">
                <div class="panel-body control">
                    <a href="/login" class="btn btn-success">Login</a>
                    <a href="/registration" class="btn btn-primary">Register</a>
                    <a href="/display" class="btn btn-info">Watch a Game</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>