<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Game</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/join.js"></script>
</head>

<body>

<div class="topnav navbar-fixed-top" id="topnav">
    <a href="javascript:void(0);" class="menuIcon" onclick="onMenuClicked()" style="text-decoration: none">
        <span class="glyphicon glyphicon-menu-hamburger"></span> Menu
    </a>
    <a class="active" style="text-decoration: none">Play</a>
    <!--<a href="/deck" style="text-decoration: none">Deck</a>-->
    <a href="/collection" style="text-decoration: none">Collection</a>
    <a href="/market" style="text-decoration: none">Market</a>
    <a id="userInfo" style="text-decoration: none">
        <span class="glyphicon glyphicon-user"></span>
        <span id="username"> name</span>
        <div class="newLine"></div>
        <img src="images/gold.png" height="16" width="16"><span id="gold_amount"> 0</span>
        <img src="images/draw.png" height="16" width="16"><span id="card_amount"> 0</span>
    </a>
    <a href="/logout" id="logoutBtn" style="text-decoration: none"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
</div>

<br><br><br><br><br>
<div class="container text-center">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3 ">
            <button type="button" id="create" class="btn btn-success btn-lg">Create a Game</button>
            <p><br><br>- or -<br><br></p>
            <p>Enter room code to join:</p>
            <input type="text" class="form-control" placeholder="example: ABAB" id="code" style="text-align:center;" th:maxlength="${maxcodelength}">
            <div id="err" data-toggle="popover" data-placement="bottom" data-content="Code"></div>
        </div>
    </div>
</div>

</body>
</html>