<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/market.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/market.js"></script>
</head>
<body>
<h1>Card Market</h1>

<div class="panel">
    <div class="filter">
        <div class="cb_suit">
            <div class="f_header"> Suit</div>
            <label class="cb"><input type="checkbox" name="cb_all" value="all"> All</label><br>
            <label class="cb"><input type="checkbox" name="cb_diamond" value="diamond"> Diamond</label><br>
            <label class="cb"><input type="checkbox" name="cb_club" value="club"> Club</label><br>
            <label class="cb"><input type="checkbox" name="cb_heart" value="heart"> Heart</label><br>
            <label class="cb"><input type="checkbox" name="cb_spade" value="spade"> Spade</label><br>
        </div>
        <div class="cb_rank">
            <div class="f_header"> Rank</div>
            <label class="cb"><input type="checkbox" name="cb_1" value="1"> A</label><br>
            <label class="cb"><input type="checkbox" name="cb_2" value="2"> 2</label><br>
            <label class="cb"><input type="checkbox" name="cb_3" value="3"> 3</label><br>
            <label class="cb"><input type="checkbox" name="cb_4" value="4"> 4</label><br>
            <label class="cb"><input type="checkbox" name="cb_5" value="5"> 5</label><br>
            <label class="cb"><input type="checkbox" name="cb_6" value="6"> 6</label><br>
            <label class="cb"><input type="checkbox" name="cb_7" value="7"> 7</label><br>
            <label class="cb"><input type="checkbox" name="cb_8" value="8"> 8</label><br>
            <label class="cb"><input type="checkbox" name="cb_9" value="9"> 9</label><br>
            <label class="cb"><input type="checkbox" name="cb_10" value="10"> 10</label><br>
            <label class="cb"><input type="checkbox" name="cb_11" value="11"> J</label><br>
            <label class="cb"><input type="checkbox" name="cb_12" value="12"> Q</label><br>
            <label class="cb"><input type="checkbox" name="cb_13" value="13"> K</label><br>
        </div>
    </div>
    <div class="offers">

    </div>
</div>
</body>
</html>